body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  background: black;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}

.product-img {
  max-height: 400px;
}
.btn-primary {
  background-color: rgb(195, 215, 44);
  color: black;
}
.rating > span {
  color: rgb(195, 215, 44);
}
